.has-danger {
  .input-group-btn {
    button.btn-secondary {
      border-color: #d9534f;
    }
  }
}

.has-success {
  .input-group-btn {
    button.btn-secondary {
      border-color: #5cb85c;
    }
  }
}

.done-kanjis {
  span.label {
    margin-right: 5px;
    margin-left: 5px;
  }
}
