.has-danger {
  .input-group-btn {
    button.btn-secondary {
      border-color: #d9534f;
    }
  }
}

.has-success {
  .input-group-btn {
    button.btn-secondary {
      border-color: #5cb85c;
    }
  }
}

.done-kanjis {
  span.label {
    margin-right: 5px;
    margin-left: 5px;
  }
}

.word-highlight {
  .location { color: blue; }
  .company  { color: lightskyblue; }
  .leveled-word { color: black; }
  .unknown-type {
    color: red;
    font-size: 20px;
  }
}
.hidden-furigana {
  rt {
    display: none;
  }
}

.news-article {
  .paragraph {
    display: block;

    .word {
      display: inline-block;
    }

    .popover-content {
      white-space: pre-wrap;
      max-height: 50px;
      max-width: 150px;
      overflow-y: scroll;
    }
  }
}
